<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectToHttps" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Temporary" />
                </rule>
                <rule name="All" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{URL}" pattern="/ia/*" negate="true" />
                        <add input="{URL}" pattern="/uc/*" negate="true" />
                        <add input="{URL}" pattern="/ucm/*" negate="true" />
                        <add input="{URL}" pattern="/sys/*" negate="true" />
                        <add input="{URL}" pattern="/om/*" negate="true" />
                        <add input="{URL}" pattern="/thi/*" negate="true" />
                        <add input="{URL}" pattern="/tri/*" negate="true" />
                        <add input="{URL}" pattern="/book/*" negate="true" />
                        <add input="{URL}" pattern="/mix/*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="RwIdentityCenter" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14811/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/ia)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwUserCenterAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14802/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/uc)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwUserCenterMiddleAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14803/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/ucm)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwSystemBackAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14804/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/sys)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwEnterpriseManageAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14805/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/om)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwTheaterInfoAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14807/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/thi)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwTroupeInfoAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14808/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/tri)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwScheduleBookingAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14812/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/book)(/[\s\S]*)" />
                    </conditions>
                </rule>
		            <rule name="RwMixSearchAPI" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://www.52drama.com:14816/{C:2}" />
                    <conditions>
                        <add input="{URL}" pattern="^(/mix)(/[\s\S]*)" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>