{% extends 'base.html' %}

{% block content %}
    <div class="search-form"></div>
    <div class="opration-button">
        <form action='/file/upload' id="uploadForm" enctype="multipart/form-data" method='post'>
            {% module xsrf_form_html() %}
            <input type="file" id="exlFile" name="fileName" class="btn btn-default"  accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
            <input type="button" class="btn" onclick="fileUploadExl2()" value="上传Excle">
       </form>
    </div>
    <style type="text/css">
      .data-list .data-table thead tr{height: 40px;}
      .data-list .data-table thead tr th{text-align: center;}
      .data-list .data-table tbody tr{height: 100px;}
      .data-list .data-table tbody tr td{text-align: center;}
    </style>
    <div class="data-list">
        <table class="data-table table">
            <thead>
              <tr>
                <th style="width:5%">序号</th>
                <th style="width:5%">状态</th>
                <th style="width:8%">日期</th>
                <th style="width:7%">姓名</th>
                <th style="width:7%">手机</th>
                <th style="width:7%">地址</th>
                <th style="width:7%">快递公司</th>
                <th style="width:7%">运单号</th>
                <th style="width:7%">运费</th>
                <th style="width:7%">金额</th>
                <th >备注</th>
                <th style="width:7%">核对金额</th>
                <th style="width:7%">核对明细</th>
              </tr>
            </thead>
            {% if pager and pager.result %}
              {% for m, order in enumerate(pager.result) %}
                <tbody>
                  <tr>
                    <td>{{m+1}}</td>
                    <td>{{order.status_}}</td>
                    <td>{{order.printTime_}}</td>
                    <td>{{order.consignee_}}</td>
                    <td>{{order.phone_}}</td>
                    <td>{{order.address_}}</td>
                    <td>{{order.express_}}</td>
                    <td>{{order.expressNumber_}}</td>
                    <td>{{order.expressPrice_}}</td>
                    <td>{{order.orderPrice_}}</td>
                    <td>{{order.userMark_}}</td>
                    <td>{{order.consignee_}}</td>
                    <td>{{order.consignee_}}</td>
                  </tr>
                </tbody>
              {% end %}
            {% end %}
        </table>
    </div>
    
    <script type="text/javascript">
        function fileUploadExl(){
            
            var formData = new FormData();
            formData.append('_xsrf', $('input[name=_xsrf]').val());
            formData.append('fileName', $('input[type=file]')[0].files[0]);
            $.ajax({
               url: '/file/upload',
               data: formData,
               type: 'POST',
               contentType: false,
               processData: false,
               success: function(data){
                   var obj = jQuery.parseJSON(data);
                   alert(obj.result);
                   // TODO
               },
               error: function(data){
                   var obj = jQuery.parseJSON(data);
                   alert(data.result);
               }
           })
        }


        function fileUploadExl2(){
          var actionUrl = '/file/upload';
          var oFile = document.getElementById('exlFile').files[0];    //读取文件
          var vFD = new FormData(document.getElementById('uploadForm')),    //建立请求和数据
              oXHR = new XMLHttpRequest();
          oXHR.addEventListener('load', function(resUpload) {
              //成功
              console.log(resUpload)
          }, false);
          oXHR.addEventListener('success', function(resUpload) {
              //成功
              console.log(resUpload)
          }, false);
          oXHR.addEventListener('error', function() {
              //失败
          }, false);
          oXHR.addEventListener('abort', function() {
              //上传中断
          }, false);
          oXHR.open('POST', actionUrl);
          oXHR.send(vFD);
        }

    </script>

{% module Template("_macros.html", pager=pager, url=base_url, params=order_search_params.to_url_params()) %}

{% end %}